/* BASIC */
$basic: #32393D;
$coaaal: #000000;
$aaash: #8C888C;
$aaash-25: rgba($aaash, 0.25);
$aaash-50: rgba($aaash, 0.5);
$tableee: #E4E4E4;
$snooow: #FFFFFF;
$snooow-50: rgba($snooow, 0.5);

/* ACCENT */
$leemon: #F1FF2B;
$fruuuit: #FE50EA;
$fruuuit-25: rgba($fruuuit, 0.25);
$fruuuit-35: rgba($fruuuit, 0.35);
$aaacid: #91FE1C;
$iceee: #3DEFFF;
$chileee: #FF3D3D;