.add-category {
  &__back {
    margin: auto;
    cursor: pointer;
  }

  &__form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include media-desktop {
      padding: 0 $first-column-width;
    }
  }

  &__submit {
    margin-top: auto;
  }

  &__footer {
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}