.add-category {
  &__form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__submit {
    margin-top: auto;
  }

  &__footer {
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}