$categories-height: 74px;

.public-menu {
  background-color: $snooow;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__categories {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px $grid-padding 18px $first-column-width + $grid-padding;
    width: 100%;
    background-color: $snooow;
    display: flex;
    gap: 8px;
    overflow: auto;
  }

  &__main {
    margin-top: $categories-height;
    padding: 0 $grid-padding;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include public-desktop-container;
  }

  &__title {
    margin-bottom: 12px;
    padding-bottom: 24px;
    @include skip-first-column;
    @include divider();
    @include font-title;
  }

  &__subtitle {
    margin-bottom: 24px;
    @include skip-first-column;
    @include font-subtitle;
  }

  &__course {
    margin-bottom: 24px;
    cursor: pointer;
  }

  &__course-photo-block {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__course-info {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__course-title {

  }

  &__course-description {
    color: $aaash;
  }

  &__course-badges {
    display: flex;
    gap: 8px;
  }

  &__course-price {
    margin-top: 4px;
    @include font-body-m;
  }

  &__footer {
    position: sticky;
    bottom: 0;
    padding: 12px $grid-padding 16px;
    background-color: $snooow;
    align-items: center;
    @include divider(top);

    @include public-desktop-container;
  }

  &__logo-block {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__footer-title {
    margin-bottom: 4px;
    @include font-body-m;
  }

  &__footer-description {
    color: $aaash;
    @include font-caption;
  }

  &__footer-about {
    margin-left: auto;
  }
}