.button {
  $block: &;
  padding: 14px 24px 18px;
  border: 0;
  width: 100%;
  height: 64px;
  border-radius: $border-radius-extra-large;
  background-color: $leemon;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $coaaal;
  cursor: pointer;
  transition: background-color $transition-duration linear,
  transform $transition-duration linear,
  outline $transition-duration linear;
  @include font-title;

  &:hover, &:focus {
    &:not(:disabled) {
      outline: 4px solid $aaash-25;
    }
  }

  &:active:not(:disabled) {
    outline: 0;
    transform: scale(0.9);
  }

  &_coaaal {
    background-color: $coaaal;
    color: $snooow;
  }

  &:not(&_small) {
    &#{$block}_opacity-half {
      background-color: $snooow;
      color: $aaash;
    }

    &#{$block}_opacity-quarter {
      background-color: $snooow-50;
      color: $aaash-50;
    }
  }

  &_small {
    padding: 4px 12px 7px 12px;
    border: 2px solid $coaaal;
    height: 34px;
    background-color: transparent;
    @include font-subtitle;

    &:hover, &:focus {
      background-color: $aaash-25;
      outline: 3px solid $aaash-25;
    }

    &#{$block}_opacity-half {
      border-color: $aaash-50;
      color: $aaash;
    }

    &#{$block}_opacity-quarter {
      border-color: $aaash-25;
      color: $aaash-50;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}