.cards {
  height: $container-height;
  border-radius: $border-radius-large $border-radius-large 0 0;
  background-color: $tableee;
  display: flex;
  flex-direction: column;

  @include media-desktop {
    margin: $desktop-container-padding;
    height: $desktop-container-height;
  }
}