.grid {
  display: flex;

  &__column {
    display: flex;

    &_1 {
      flex-basis: $first-column-width;
      flex-shrink: 0;
    }

    &_2 {
      flex-basis: $second-column-width;
    }

    &_3 {
      flex-basis: $third-column-width;
    }

    &_2-3 {
      flex-basis: $second-column-width + $third-column-width;
    }
  }
}